# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Env't Variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
data/
!src/data/
*.csv
*.tsv
*.xlsx
*.json

# IDEs / editors
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/

# Telethon
*.session

# Logs
logs
src/medical_warehouse/profiles.yml

# dbt artifacts
target/
dbt_packages/
dbt_modules/
logs/
dbt_packages/
*_packages/

# dbt configuration
profiles.yml
.user.yml
